body{
    background-color:whitesmoke;
   
 
 background: url("https://images.unsplash.com/photo-1559239115-ce3eb7cb87ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1988&q=80");
  background-repeat: no-repeat;
 background-size:cover;
 overflow:visible ;
 /* font-family: 'Lato', sans-serif; */
}
/* .status-card {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .status-card > div {
    flex: 1;
    text-align: center;
  }
  
  .status-card > div:first-of-type {
    border-right: 1px solid #d11b1b;
    
  } */
  .app-name{
    display: flex;
    align-items: centre;
    justify-content: center;
}



.container{
    width: 350px;
    /* height: 820px; */
     background-color:whitesmoke;
     
     background-color:rgba(204, 204, 204, 0.816);
    /* box-shadow: 2px 2px grey; */
    margin-top: 20px;
    
}

.status-card{
    display: flex;

    height: 80px;
    background-color: white;
    box-shadow: 1px 2px #888888;
    
}
.bal{
    margin-top: -10px;
}
.income-card{
/* background-color: rgb(192, 235, 236); */
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.line-card{
    border-right: 1px solid #dedede;
    height: 60px;
    margin-top: 10px;
}
.expense-card{
 /* background-color: rgb(233, 201, 171); */
 width: 50%;
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.history-card{
    display: flex;
    justify-content:space-between;
    background-color: white;
    box-shadow: 1px 2px #888888;
    margin-bottom: 10px;
    
    /* width: 300px; */
    height: 35px;
}
.price{
    /* margin-left: 110px; */
    background-color:rgb(92, 179, 92);

    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-top: 5px;     
    /* justify-content: space-between; */
    /* padding-bottom: 2px; */
    /* margin-top: 1px; */
} 
.txt{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 10px;
    /* background-color: blanchedalmond; */
}
.tran{
    margin-bottom: -5px;
}
.hist{
    margin-bottom: -5px;
}
.amt{
    margin-bottom: -1px;
}
.inc{
    margin-bottom: 3px;
}
.exp{
    margin-bottom: 3px;
}
/* .add {
   

}
.sub{

} */
/* .line{
    border: 1px solid grey;
    width: 50%;
    margin: 0 50px 0 100px;
    position: relative;
    top: 10px;
    background-color: rgb(98, 92, 92);
    height: 50px;
} */
.bt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-add{
    margin-bottom: 10px;
}